@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  font-family:"Source Sans 3", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(12, 1, 1, 0.87);
  background-color: #EBD3BB;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #e65f2b;
  --secondary-color: #0a0a09;
  --accent-color: #f2eae5;
  --background-color: #EBD3BB;
  --box-color: #ffff;
  --text-color: #0a0a09;
}

